header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(darkblue, lightblue);
}

header h1 {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
}