.palette-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: lightcyan;
}

.lock-color {
  background-color: rgba(256, 256, 256, 0.2);
  border: none;
  border-radius: 15%;
  height: 4rem;
  width: 4rem;
  margin: 1rem;
  background-image: url('../images/unlocked.svg');
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
}

.lock-color:hover {
   background-color: rgba(256, 256, 256, 0.8);
}

.lock-color.locked {
  background-image: url('../images/locked.svg');
  background-color: rgba(256, 256, 256, 0.8);
}

.color-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30rem;
  width: 15%;
}

.color-title {
  font-size: 2rem;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
}