@import './header.css';
@import './paletteContainer.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
}

html {
  font-size: 62.5%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32rem;
}

.project-palette {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-palette h5 {
  margin: 0 1rem;
}

.project-palette-color {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
}